<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-US" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en-US" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en-US" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10" lang="en-US" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <title>Pinterest Style - Kleo Template</title>
    <!-- head -->
    <% include ../partials/head %>
    <script>
        function likephoto(htmlbalise,idphoto){
            $.ajax({
                type : 'GET',
                url: "/Photo/Vote/"+idphoto,

                // On désire recevoir du HTML

                success : function(code_html, statut){ // code_html contient le HTML renvoyé
                    alert("vita");
                    htmlbalise.innerHTML=parseInt(htmlbalise.innerHTML)+1;
                },
                error : function(resultat, statut, erreur){
                    alert(erreur);
                }

            });
            return false;
        }
    </script>
</head>


<body class="page page-id-2772 page-template page-template-page-templatesfull-width-php offcanvas-right offcanvas-type-default kleo-navbar-fixed navbar-resize navbar-transparent on-dark-bg wpb-js-composer js-comp-ver-4.3.4 vc_responsive no-js" itemscope itemtype="http://schema.org/WebPage">

<div id="fb-root"></div>

<!-- PAGE LAYOUT
================================================ -->
<!--Attributes-->
<div class="kleo-page">


    <!-- HEADER SECTION
    ================================================ -->
    <% include ../partials/header-accueil %>
    <!--end header-->
    <!-- MAIN SECTION
    ================================================ -->
    <div id="main">





        <section class="container-wrap main-color">
            <div id="main-container" class="container-full">

                <div class="template-page col-sm-12 tpl-no">
                    <div class="wrap-content">




                        <!-- Begin Article -->
                        <article id="post-2772" class="post-2772 page type-page status-publish has-post-thumbnail hentry">


                            <div class="article-content">
                                <section class="container-wrap main-color  text-center" style="background-image: url('../frontend/img/header_bridge_bg_01.jpg');background-position: center center;background-repeat: no-repeat;background-attachment: scroll;background-size: cover;padding-top: 300px;padding-bottom: 60px;min-height: 0.04px"><div class="section-container container"><div class="row">
                                            <div class="col-sm-12 wpb_column column_container">
                                                <div class="wpb_wrapper">

                                                    <div class="kleo_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h1><span style="color: #ffffff;"><%=theme%></span></h1>

                                                        </div>
                                                    </div> <div  class="kleo-gap" style="height:20px;line-height:20px;"></div><div class="kleo-search-wrap kleo-search-form search-style-transparent"><form role="search" method="get" id="searchform"  action="http://seventhqueen.com/themes/kleo/" data-context="">
                                                            <div class="input-group">
                                                                <input name="s" id="s" autocomplete="off" type="text" class="ajax_s form-control input-lg" value="" placeholder="e.g. 'kleo'"><span class="input-group-btn"><input type="submit" value="Search" id="searchsubmit" class="button"></span></div></form><span class="kleo-ajax-search-loading"><span class="kleo-loading-icon"></span></span><div class="kleo_ajax_results"></div></div><div  class="kleo-gap" style="height:30px;line-height:30px;"></div>
                                                    <section class="container-wrap main-color" style=""><div class="section-container container"><div class="row">
                                                                <div class="col-sm-3 wpb_column column_container">
                                                                    <div class="wpb_wrapper">

                                                                    </div>
                                                                </div>

                                                                <div class="col-sm-2 wpb_column column_container">
                                                                    <div class="wpb_wrapper">

                                                                        <div class="kleo_text_column wpb_content_element ">
                                                                            <div class="wpb_wrapper">
                                                                                <h2 style="margin-bottom: 0; color: #fff !important;"><span data-number="2" class=" kleo-animate-number animate-when-almost-visible" data-timer="1500">2</span>.<span data-number="247" class=" kleo-animate-number animate-when-almost-visible" data-timer="1500">247</span></h2>
                                                                                <p style="color: #fff;">PORTFOLIO ITEMS</p>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-sm-2 wpb_column column_container">
                                                                    <div class="wpb_wrapper">

                                                                        <div class="kleo_text_column wpb_content_element ">
                                                                            <div class="wpb_wrapper">
                                                                                <h2 style="margin-bottom: 0; color: #fff !important;"><span data-number="158" class=" kleo-animate-number animate-when-almost-visible" data-timer="1500">158</span></h2>
                                                                                <p style="color: #fff;">FEATURED ARTICLES</p>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-sm-2 wpb_column column_container">
                                                                    <div class="wpb_wrapper">

                                                                        <div class="kleo_text_column wpb_content_element ">
                                                                            <div class="wpb_wrapper">
                                                                                <h2 style="margin-bottom: 0; color: #fff !important;"><span data-number="28" class=" kleo-animate-number animate-when-almost-visible" data-timer="1500">28</span>.<span data-number="731" class=" kleo-animate-number animate-when-almost-visible" data-timer="1500">731</span></h2>
                                                                                <p style="color: #fff;">DAILY SEARCHES</p>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-sm-3 wpb_column column_container">
                                                                    <div class="wpb_wrapper">

                                                                    </div>
                                                                </div>
                                                            </div></div></section><!-- end section -->
                                                </div>
                                            </div>
                                        </div></div></section><!-- end section -->
                                <section class="container-wrap alternate-color  border-bottom" style="padding-top: 20px;padding-bottom: 20px;min-height: 0px"><div class="section-container container-full"><div class="row">
                                            <div class="col-sm-12 wpb_column column_container">
                                                <div class="wpb_wrapper">



                                                    <div class="posts-listing responsive-cols kleo-masonry per-row-4 with-meta masonry-listing">



                                                        <%

                                                        data.forEach( function( todo ){ %>
                                                        <article id="post" class="post post type-post status-publish format-image has-post-thumbnail hentry category-uncategorized post-item">
                                                            <div class="post-content animated animate-when-almost-visible el-appear">

                                                                <div class="post-image"><a href="http://seventhqueen.com/themes/kleo/uncategorized/interior-design/" class="element-wrap"><img src="<%=todo.image_url%>"><span class="hover-element"><i>+</i></span></a></div><!--end post-image-->

                                                                <div class="post-header">

                                                                    <h3 class="post-title entry-title"><a href="#"><%=todo.title%></a></h3>

                <span class="post-meta">
                    <small class="meta-author author vcard"><a class="url fn n" href="http://seventhqueen.com/themes/kleo/author/kleoadmin/" title="View all posts by Jonathan Doe" rel="author"><%=todo.user_id.pseudo%></a></small>, <small><a href="http://seventhqueen.com/themes/kleo/uncategorized/interior-design/" title="Interior design" rel="bookmark" class="post-time"><time class="entry-date" datetime="2014-09-12T15:06:29+00:00"><%=todo.date_publi%></time><time class="modify-date hide hidden updated" datetime="2014-09-12T15:06:29+00:00">September 12, 2014</time></a></small>, <small class="meta-category"><a href="http://seventhqueen.com/themes/kleo/category/uncategorized/" rel="category tag">Uncategorized</a></small>, <small class="meta-comment-count"><a href="http://seventhqueen.com/themes/kleo/uncategorized/interior-design/#comments">1 <i class="icon-chat-1 hover-tip"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       data-original-title="This article has one comment"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       data-toggle="tooltip"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       data-placement="top"></i></a></small>                </span>

                                                                </div><!--end post-header-->


                                                                <div class="post-info">

                                                                    <div class="entry-summary">
                                                                        <p><%=todo.description%></p>				</div><!-- .entry-summary -->

                                                                </div><!--end post-info-->



                                                                <div class="post-footer">
                                                                    <small>
                                                                        <a href="/" onclick='return likephoto(this.getElementsByTagName("span")[0],"<%=todo._id%>");' class="item-likes"  title="Like this"><span class="item-likes-count"><%=todo.vote%></span> <span class="item-likes-postfix">likes</span></a>
                                                                        <!--<a href="http://seventhqueen.com/themes/kleo/uncategorized/interior-design/"><span class="muted pull-right">Read more</span></a>-->
                                                                    </small>
                                                                </div><!--end post-footer-->

                                                            </div><!--end post-content-->
                                                        </article>
                                                        <%});%>
                                                        <!-- End  Article -->




                                                    </div><!--end wrap-content-->
                                                </div><!--end main-page-template-->
                                            </div><!--end .container-->

                                </section>
                                <!--END MAIN SECTION-->


                            </div><!-- #main -->


                            <a class="kleo-go-top" href="#"><i class="icon-up-open-big"></i></a>
                            <!--begin kleo-quick-contact-wrapper-->
                            <!-- <div class="kleo-quick-contact-wrapper"><a class="kleo-quick-contact-link" href="#"><i class="icon-mail-alt"></i></a><div id="kleo-quick-contact"><h4 class="kleo-qc-title">CONTACT US</h4><p>We're not around right now. But you can send us an email and we'll get back to you, asap.</p><form class="kleo-contact-form" action="#" method="post" novalidate><input type="text" placeholder="Your Name" required id="contact_name" name="contact_name" class="form-control" value="" tabindex="276" /><input type="email" required placeholder="Your Email" id="contact_email" name="contact_email" class="form-control" value="" tabindex="277"  /><textarea placeholder="Type your message..." required id="contact_content" name="contact_content" class="form-control" tabindex="278"></textarea><input type="hidden" name="action" value="kleo_sendmail"><button tabindex="279" class="btn btn-default pull-right" type="submit">Send</button><div class="kleo-contact-loading">Sending <i class="icon-spinner icon-spin icon-large"></i></div><div class="kleo-contact-success"> </div></form><div class="bottom-arrow"></div></div></div> -->
                            <!--end kleo-quick-contact-wrapper-->
                            <!-- SOCKET SECTION
                            ================================================ -->

                            <div id="socket" class="socket-color">
                                <div class="container">
                                    <div class="template-page tpl-no col-xs-12 col-sm-12">
                                        <div class="wrap-content">

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="gap-10"></div>
                                                </div><!--end widget-->

                                                <div class="col-sm-12">
                                                    <p style="text-align: center;"><strong>©2015 KLEO Template</strong> a premium and multipurpose theme from <a href="http://www.seventhqueen.com/" target="_blank">Seven<sup>th</sup> Queen</a></p>							</div>

                                                <div class="col-sm-12">
                                                    <div class="gap-10"></div>
                                                </div><!--end widget-->
                                            </div><!--end row-->

                                        </div><!--end wrap-content-->
                                    </div><!--end template-page-->
                                </div><!--end container-->
                            </div><!--end footer-->
                    </div><!-- #page -->

                    <!--
                        <div class="offcanvas-sidebar side-color"><div class="wrap-canvas-menu"><div class="offcanvas-title"><a href="#" class="open-sidebar"></a></div><div class="offcanvas-before">Choose from the demos we created for you.</div><div class="widget_nav_menu"><ul id="menu-demos" class="offcanvas-menu"><li id="menu-item-4888" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4888"><a title="Happy New Year NEW" href="http://seventhqueen.com/themes/kleo/merry-christmas-happy-new-year/">Happy New Year <em>NEW</em></a></li>
                <li id="menu-item-4889" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4889"><a title="Merry Christmas NEW" href="http://seventhqueen.com/themes/kleo/merry-christmas/">Merry Christmas <em>NEW</em></a></li>
                <li id="menu-item-4701" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4701"><a title="Black Friday" href="http://seventhqueen.com/themes/kleo/black-friday/">Black Friday</a></li>
                <li id="menu-item-4703" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2772 current_page_item menu-item-4703 active"><a title="Pinterest Style HOT" href="index.php">Pinterest Style <em>HOT</em></a></li>
                <li id="menu-item-4704" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4704"><a title="Portfolio Fullwidth Overlay" href="http://seventhqueen.com/themes/kleo/portfolio-full-width/">Portfolio Fullwidth Overlay</a></li>
                <li id="menu-item-4707" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4707"><a title="Home Community" href="http://seventhqueen.com/themes/kleo/home-default/">Home Community</a></li>
                <li id="menu-item-4705" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4705"><a title="E-learning" href="http://seventhqueen.com/themes/kleo/e-learning-home/">E-learning</a></li>
                <li id="menu-item-4706" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4706"><a title="Home Shop" href="http://seventhqueen.com/themes/kleo/default-shop/">Home Shop</a></li>
                <li id="menu-item-4702" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4702"><a title="Stylish Woocommerce" href="http://seventhqueen.com/themes/kleo/stylish-woocommerce/">Stylish Woocommerce</a></li>
                <li id="menu-item-4709" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4709"><a title="Agency multisite" href="http://seventhqueen.com/themes/kleo/demo-agency">Agency <em>multisite</em></a></li>
                <li id="menu-item-4708" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4708"><a title="Home Simple" href="http://seventhqueen.com/themes/kleo/home/">Home Simple</a></li>
                </ul></div><div class="offcanvas-after"><small>You can customize side area from admin with any content.</small>
                <ul class="kleo-social-icons"><li><a target="_blank" href="https://twitter.com/SeventhQueen"><i class="icon-twitter"></i><div class="ts-text">Twitter</div></a></li><li><a target="_blank" href="https://www.facebook.com/seventhqueen.themes"><i class="icon-facebook"></i><div class="ts-text">Facebook</div></a></li><li><a target="_blank" href="https://dribbble.com/seventhqueen"><i class="icon-dribbble"></i><div class="ts-text">Dribbble</div></a></li><li><a target="_blank" href="https://plus.google.com/+Seventhqueen"><i class="icon-gplus"></i><div class="ts-text">Google+</div></a></li></ul></div></div></div>
                -->


                    <!-- LOGIN WITH FACEBOOK -->
                    <% include ../partials/login-fb %>
                    <!-- ASORINA
                    <script type='text/javascript' src='js/revslider/jquery.themepunch.tools.min.js'></script>
                    <script type='text/javascript' src='js/revslider/jquery.themepunch.revolution.min.js'></script>
                        ASORINA-->

                    <!-- Modal Login form -->
                    <div id="kleo-login-modal" class="kleo-form-modal main-color mfp-hide">
                        <div class="row">
                            <div class="col-sm-12 text-center">


                                <div class="kleo-fb-wrapper text-center">
                                    <a href="#" class="kleo-facebook-connect btn btn-default "><i class="icon-facebook"></i> &nbsp;Log in with Facebook</a>
                                </div>
                                <div class="gap-20"></div>
                                <div class="hr-title hr-full"><abbr> or </abbr></div>
                                <span style="margin-bottom: 10px;display:inline-block;">User: demo Password: demo</span>
                                <div class="kleo-pop-title-wrap main-color">
                                    <h3 class="kleo-pop-title">Log in with your credentials</h3>


                                    <p>
                                        <em>or</em>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://seventhqueen.com/themes/kleo/register/" class="new-account">Create an account</a>
                                    </p>

                                </div>

                                <form action="/Login/Membre"  name="login_form" method="post" class="kleo-form-signin">
                                    <input type="hidden" id="security" name="security" value="7fadd95bc9" /><input type="hidden" name="_wp_http_referer" value="/themes/kleo/pinterest/" />
                                    <input type="email" id="username" autofocus required name="email" class="form-control" value="" placeholder="Username">
                                    <input type="password" id="password" required value="" name="password" class="form-control" placeholder="Password">
                                    <div id="kleo-login-result"></div>
                                    <button class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>
                                    <label class="checkbox pull-left">
                                        <input id="rememberme" name="rememberme" type="checkbox" value="forever"> Remember me            </label>
                                    <a href="#kleo-lostpass-modal" class="kleo-show-lostpass kleo-other-action pull-right">Lost your password?</a>
                                    <span class="clearfix"></span>


                                </form>

                            </div>
                        </div>
                    </div><!-- END Modal Login form -->



                    <!-- Modal Lost Password form -->
                    <div id="kleo-lostpass-modal" class="kleo-form-modal main-color mfp-hide">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="kleo-pop-title-wrap alternate-color">
                                    <h2 class="kleo-pop-title">Forgot your details?</h2>
                                </div>


                                <form id="forgot_form" name="forgot_form" action="#" method="post" class="kleo-form-signin">
                                    <input type="hidden" id="security" name="security" value="7fadd95bc9" /><input type="hidden" name="_wp_http_referer" value="/themes/kleo/pinterest/" />        <input type="text" id="forgot-email" autofocus required  name="user_login" class="form-control" placeholder="Username or Email">
                                    <div id="kleo-lost-result"></div>
                                    <button class="btn btn-lg btn-default btn-block" type="submit">Reset Password</button>
                                    <a href="#kleo-login-modal" class="kleo-show-login kleo-other-action pull-right">I remember my details</a>
                                    <span class="clearfix"></span>
                                </form>

                            </div>
                        </div>
                    </div><!-- END Modal Lost Password form -->

                    <% include ../partials/script_accueil %>
</body>

</html>

